* {
  margin: 0;
  padding: 0;
  font-family: 'wind waker'
}

@font-face {
  font-family: 'wind waker';
  src: url('./assets/fonts/SherwoodRegular.ttf');
}



.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../src/assets/img/background.jpeg");
  height: 100vh;
  overflow-x: hidden;
}