.card-master {
  max-width: 80%;
  height: 100vh;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card,
.card-flipped {
  background-color: #f7fbcc;
  border: 7px solid;
  border-radius: 3px;
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
}

.card img,
.card-flipped img {
  height: 175px;
  width: 175px;
  border-radius: 2px;
}

.card-flipped {
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover,
.card-flipped:hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  justify-content: center;
}
