.card-master {
  max-width: 80%;
  height: 100vh;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  border: 5px solid #6ba5ce;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}