.card-master {
  max-width: 80%;
  height: fit-content;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card,
.card-flipped {
  background-color: #f7fbcc;
  border: 5px solid;
  border-radius: 3px;
  height: 200px;
  width: 150px;
  display: flex;
  align-items: center;
  text-align: center;
}

.card img,
.card-flipped img {
  height: 130px;
  width: 130px;
  border-radius: 2px;
}

.card-flipped {
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover,
.card-flipped:hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  justify-content: center;
}

@media only screen and (max-width: 1000px) {

  .card,
  .card-flipped {
    height: 150px;
    width: 100px;
    text-align: center;
    border: 5px solid black;
    font-size: .75rem;
  }

  .card img,
  .card-flipped img {
    height: 95px;
    width: 95px;
    border-radius: 2px;
  }
}