* {
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
