.game-over-master {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.game-over {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 5px;
  box-shadow: 0 0 50px #013757b6;
  width: fit-content;
  height: fit-content;
  padding: 100px;
}

.game-over h1 {
  width: 100%;
  color: rgb(199, 3, 3);
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.game-over-btn {
  font-size: 1.5rem;
  color: white;
  padding: 0;
  background: #6c9d34;
  border: 6px solid #408836;
  margin-top: 5%;
}

.game-over-btn:hover {
  cursor: pointer;
  color: yellow;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .game-over-master {
    height: fit-content;
  }
}