.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #08175a77;
  height: 20%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: red;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(233, 233, 233);
}