.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47642d;
  padding: 20px;
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: yellow;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
}