.score {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5em;
  padding: 20px;
}

.stat {
  border-radius: 5px;
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ec187;
  font-size: 0.6rem;
}

.stat p {
  font-size: 1.75rem;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .score {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
}
