.score {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 5em;
  padding: 20px;
}

.stat {
  border-radius: 5px;
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ec187;
  font-size: 0.6rem;
}

.stat p {
  font-size: 1.75rem;
}

@media only screen and (max-width: 1000px) {
  .score {
    width: 40vh;
    align-items: center;
  }
}
